.about .container {
	padding-top: 195px;
	padding-left: 99px;
	padding-right: 99px;

	display: grid;
	grid-template-columns: 1fr 276px;
	grid-template-rows: auto repeat(1fr) ;
	grid-template-areas:
		"h h"
		"cb am"
		"co co"
		"c4 ."
		"as as"
		"c5 .";
}

// .about .container > * {
// 	border: 1px solid green;
// }

.about__header {
  grid-area: h;
  margin-bottom: 28px;
  position: relative;
}

.about__header::after {
  .pseudo-element;
  .ghost;
  content: "About us";
  
}

.about__content-block {
  grid-area: cb;
  width: 573px;
}

.about__article-mentioning {
  grid-area: am;
  padding-top: 200px;
  position: relative;
  .small-text;
}

.about__article-mentioning::before {
  .pseudo-element;
  background-image: url("../img/about-1.jpg");
  width: 276px;
  height: 160px;
  top: 26px;
  left: 0;
}

.about__content--other {
  grid-area: co;
  position: relative;
  min-height: 304px;
  color: #fff;
  font-size: 26px;
  line-height: 48px;
  display: flex;
  align-items: center;
}

.about__content--other::before {
  .pseudo-element;
  background-image: url("../img/about-2.jpg");
  width: 1166px;
  height: 304px;
  top: 0;
  left: -99px;
  z-index: -2;
}

.about__content--other::after {
  .pseudo-element;
  background-color: rgba(52, 50, 53, 0.6);
  top: 0;
  left: -99px;
  width: 1166px;
  height: 304px;
  z-index: -1;
}

.about__content--4 {
  grid-area: c4;
  width: 573px;
  margin-bottom: 40px;
}

.about__content--5 {
  grid-area: c5;
  width: 573px;
  margin-top: 40px;
}


.about__sample {
  grid-area: as;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;

  margin: 0;
}

.about__sample-description {
  .small-text;
  align-self: end;
  width: 258px;
  padding-left: 19px;
  border-left: 1px solid @light-brown-color;
}

