.main-header {
  .small-text;
  padding-top: 22px;
  padding-bottom: 22px;
}

.main-header .container {
  display: grid;
  grid-template-columns: 1fr 174px 272px auto;
  column-gap: 45px;
}

.main-header__phone {
  position: relative;
  color: inherit;
  text-align: center;
}

.main-header__phone span {
  text-decoration: underline;
}

.main-header__phone::before {
  .pseudo-element;
  background-image: url("../img/svg/phone.svg");
  width: 18px;
  height: 18px;
  top: 3px;
  left: 0;
}

.main-header__address {
  position: relative;
  font-style: normal;
  text-align: center;
  padding-left: 10px;
  
}

.main-header__address::before {
  .pseudo-element;
  background-image: url("../img/svg/placemark.svg");
  width: 16px;
  height: 20px;
  top: 2px;
  left: 0; 
}

.main-header__menu {
  background-image: url("../img/svg/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 32px;
  margin-top: 10px;
  border: none;
  background-color: transparent;
}
