.main-header {
  .small-text;
  padding-top: 22px;
  padding-bottom: 22px;
}

.main-header .container {
  display: grid;
  grid-template-columns: 1fr 174px 272px auto;
  column-gap: 45px;
  position: relative;
}

.main-header__phone {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-header__phone a {
  color: inherit;
}

.main-header__phone span {
  text-decoration: underline;
}

.main-header__phone::before {
  .pseudo-element;
  background-image: url("../img/svg/phone.svg");
  width: 18px;
  height: 18px;
  top: 3px;
  left: 0;
}

.main-header__address {
  position: relative;
  font-style: normal;
  text-align: center;
  padding-left: 10px;
}

.main-header__address::before {
  .pseudo-element;
  background-image: url("../img/svg/placemark.svg");
  width: 16px;
  height: 20px;
  top: 2px;
  left: 0; 
}

.main-header__menu {
  background-image: url("../img/svg/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 32px;
  margin-top: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.main-header__navigation {
  position: absolute;
  top: 74px;
  right: 0;
  background-color: @light-background;
  z-index: 1;  
}

.main-header__navigation.hidden {
  display: none;
}

.main-header__navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header__navigation-item {
  min-width: 200px;

  &:hover {
    background-color: @ghost-color;
  }

  &:active {
    opacity: 0.6;
  }

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
    box-shadow: inset 0 -5px 10px -5px #555;
  }
}

@keyframes disclosure {
  0% {padding-top: 1px; padding-bottom: 1px;}
  10% {padding-top: 2px; padding-bottom: 2px;}
  20% {padding-top: 3px; padding-bottom: 3px;}
  30% {padding-top: 4px; padding-bottom: 4px;}
  40% {padding-top: 5px; padding-bottom: 5px;}
  50% {padding-top: 6px; padding-bottom: 6px;}
  60% {padding-top: 7px; padding-bottom: 7px;}
  70% {padding-top: 8px; padding-bottom: 8px;}
  80% {padding-top: 9px; padding-bottom: 9px;}
  90% {padding-top: 10px; padding-bottom: 10px;}
  100% {padding-top: 11px; padding-bottom: 11px;}
}

.main-header__navigation-link {
  color: @dark-brown-color;
  display: block;
  animation-name: disclosure;
  animation-duration: 0.3s;
  padding-left: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-header__shopping-cart {
  position: relative;
  border-bottom: 1px solid @light-brown-color;
}

.main-header__shopping-cart::before {
  .pseudo-element;
  background-image: url("../img/svg/shopping_cart-24dp.svg");
  width: 24px;
  height: 24px;
  top: center;
  right: 5px;
}
