.mission {
  .dark-scheme;
  padding-top: 120px;
  padding-bottom: 200px;
  position: relative;
}

.mission::after {
  content: "";
  position: absolute;
  background-image: url("../img/ornament-2.png");
  background-size: cover;
  image-rendering: pixelated;
  width: 100%;
  height: 320px;
  bottom: 0;
  opacity: 0.6;
}

.mission .container {
	display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.mission .container::after {
  .pseudo-element;
  background-image: url("../img/mission-2.jpg");
  width: 276px;
  height: 200px;
  bottom: -220px;
  left: 300px;
  z-index: 1;
}

.mission__text-content {
  order: 1;
  padding-left: 119px;
  position: relative;
}

.mission__text-content::after {
  .pseudo-element;
  background-image: url("../img/mission-3.jpg");
  width: 573px;
  height: 360px;
  bottom: -220px;
  right: 0;
  z-index: 1;
}

.mission__video {
  z-index: 1;
}
