.promo {
	background-color: @background-gray;
}

.promo .container {
	padding-top: 80px;
	padding-left: 199px;
	padding-right: 693px;

	position: relative;
}

.promo .container::after {
	.pseudo-element;
	width: 573px;
	height: 520px;
	background-image: url("../img/promo-1.jpg");
	top: 0;
	right: 0;
}