.promo {
  .dark-scheme;
  position: relative;
  background-color: rgba(52, 50, 53, 0.9);
}

.promo::before {
  content: "";
  position: absolute;
  background-image: url("../img/ornament-1.png");
  background-size: cover;
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.promo .container {
  position: relative;

  padding-top: 80px;
  padding-left: 99px;
}

.promo .container::after {
	.pseudo-element;
	width: 573px;
	height: 520px;
	background-image: url("../img/promo-1.jpg");
	top: 0;
  right: 0;
  margin-top: 80px;
}

.promo__header {
  display: block;
  width: 474px;
}

.promo__description {
  width: 434px;
  opacity: 0.6;
}

.promo__button {
  margin-bottom: 80px;
}
