.team {
  .dark-scheme;
}

.team .container {
  padding-top: 146px;
  padding-left: 99px;
  padding-bottom: 564px;
	display: grid;
	grid-template-columns: 573px 370px;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
		"heading ."
		"content emphasis";
  column-gap: 119px;
  position: relative;
}

.team .container::after {
  .pseudo-element;
  background-image: url("../img/team-1.jpg");
  width: 1165px;
  height: 420px;
  bottom: 120px;
  left: 0;
}

.team__header {
  grid-area: heading;
}

.team__header::after {
  .pseudo-element;
  .ghost;
  content: "Our team";
  top: 155px;
  left: 0;
  color: #9a8584;
  z-index: 0;
  opacity: 0.1;
}

.team__content-block {
  grid-area: content;
  margin-top: 20px;
}

.team__experience {
  grid-area: emphasis;
  .small-text;
  font-style: normal;
  box-sizing: border-box;
  margin-top: 40px;
}
