.team {
  .dark-scheme;
  padding-top: 152px;
  padding-left: 99px;
}

.team .container {
	display: grid;
	grid-template-columns: 573px 370px;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
		"heading ."
		"content emphasis";

  column-gap: 119px;
  padding-bottom: 580px;
  position: relative;
}

.team .container::after {
  .pseudo-element;
  background-image: url("../img/team-1.jpg");
  width: 1165px;
  height: 420px;
  bottom: 120px;
  left: 0;
}

.team__header {
	grid-area: heading;
}

.team__content-block {
  grid-area: content;
}

.team__experience {
  grid-area: emphasis;
  .small-text;
  font-style: normal;
  box-sizing: border-box;
}