html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  .light-background;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  width: @desktop-width;
  margin: 0 auto;
}

.heading {
  font-family: "OldStandardTT", "Times New Roman", serif;
  font-weight: 400;
}

.button {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;

  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #000000;

  padding: 20px 20px;
  border: none;
  min-width: 200px;

  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}