.pseudo-element {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.small-text {
  font-size: 14px;
  line-height: 24px;
}


//цвета, пожалуй, всё-таки загони в переменные. А миксины переминуй в темы... или схемы
.light-background {
  background-color: #f8f6f5;
  color: #695a59;
}

.dark-background {
  background-color: #343235;
  color: #eee9e6;
}